#username{
    width: 50%;
    padding: 10px;
    border: 1px solid ;
    border-radius: 7px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: small;

}
#password{
    width: 50%;
    padding: 10px;
    border: 1px solid ;
    border-radius: 7px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: small;

}
#loginForm{
    width: 60%;
    padding: 10px;
    border: 1px solid ;
    border-radius: 7px;
    box-sizing: border-box;
    margin: auto;
    font-size: small;
    background-color: #86ebb0;
}
